.page-header{
	text-align: center;
}

.container{
	width: auto;
	min-width: 1200px;
	min-height: 1000px;
}

#pie_content{
	width: 950px;
	float: left;
	overflow: hidden;
}

#pie_options{
	height: 30px;
}

#pie_div{
	float: right;
	max-width: 400px;
	width: auto;
	margin: auto;
}

#pie_divII{
	float: left;
	width: auto;
	max-width: 400px;
	margin: auto;
}

#personal_content{
	width: 1200px;
}

#personal_options{
	width: 1200px;
}

h1{
	padding-left: 150px;
}

#navi{
	padding-left: 50px;
}

#person_II{
	border-bottom-style: solid;
	border-bottom-color: #DCDCDC;
	border-bottom-width: 1px;
}

#personal_div{
	width: 643px;
	height: 400px;
	margin-top: 25px;
}

#personal_divII{
	border-right-style: solid;
	border-right-color: #DCDCDC;
	border-right-width: 1px;  
	margin-top: 25px;
}

#projectstatuspersonal_div{
	width:650px;
	margin-top: 25px;
	float: right;
	border-left-style: solid;
	border-left-color: #DCDCDC;
	border-left-width: 1px;
}

#personal_divIII{
	width: 643px;
	height: 400px;
	float:left;
}

#personal_divIV{
	width:643px;
	height: 400px;
	float: right;
	border-left-style: solid;
	border-left-color: #DCDCDC;
	border-left-width: 1px;
}

#personal_divV{
	width: 800px;
	height: 400px;
	float:left;
	margin-left: 50px;
	margin-top: 50px;
}