.page-header{
	text-align: center;
}

.container{
	width: auto;
	min-width: 1500px;
	min-height: 1000px;
}

#pie_content{
	width: 950px;
	/*text-align: center;*/
	float: left;
	overflow: hidden;
}

#pie_options{
	height: 30px;
}

#pie_div{
	float: right;
	max-width: 400px;
	width: auto;
	margin: auto;
}

#pie_divII{
	float: left;
	width: auto;
	max-width: 400px;
	margin: auto;
}

#personal_content{
	width: 1300px;
}

#personal_options{
	width: 1200px;
	/*position: relative;*/
}

h1{

}

#personal_div{
	width: 643px;
	height: 400px;
	float:left;
	margin-bottom: 25px;
}

#personal_divII{
	width:643px;
	height: 400px;
	float: right;
	border-left-style: solid;
	border-left-color: #DCDCDC;
	border-left-width: 1px;
	margin-bottom: 25px;
}

#personal_divIII{
	width: 643px;
	height: 400px;
	float:left;
}

#personal_divIV{
	width:643px;
	height: 400px;
	float: right;
	border-left-style: solid;
	border-left-color: #DCDCDC;
	border-left-width: 1px;
}

#personal_divV{
	width: 800px;
	height: 400px;
	float:left;
	margin-left: 50px;
	margin-top: 50px;
}

