.page-header{
	text-align: center;
}

.container{
	width: auto;
	min-width: 1000px;
	min-height: 1000px;
}

#pie_content{
	width: 950px;
	text-align: center;
}

#pie_options{
	height: 30px;
}

#pie_div{
	float: right;
	margin-right: 50px;
	
}